#root {
  background-color: #23262d;
  color: #fafafa;
}
.navbar {
  background-color: #343a40;
  padding: 10px;
}

.navbar a {
  color: #cacaca;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus,
.nav-link:focus,
.nav-link:hover {
  color: #fafafa !important;
}

.navbar form {
  display: inline;
}

.navbar input {
  padding: 5px;
  margin-right: 5px;
}

.navbar .container-fluid {
  padding: 0 8%;
}

a {
  text-decoration: none !important;
}

h2 {
  margin-top: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.card {
  border: none !important;
  background-color: #23262d !important;
}
.card-body {
  margin: 0 !important;
  padding: 0 !important;
}
.card-title {
  font-size: 1rem !important;
  color: #fafafa !important;
  margin: 5% 0 !important;
}

.card-text {
  font-size: 0.8rem !important;
  color: #fafafa !important;
}

.movie-details-text {
  color: #fafafa !important;
}
.hero-section img {
  width: 100%;
}
.overview {
  width: 64%;
}

.carousel h5,
.carousel p {
  font-size: 0.6rem;
  text-align: start;
}
